:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-color: #757575;
  --section-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --info-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}

.header-accent-logo {
  color: #2196f3;
}

.navigation-link,
.header-link {
  font-weight: 500;
}

h2 {
  font-weight: 700;
  color: var(--main-color);
  font-size: 36px;
  letter-spacing: 1.08px;
}

.logo {
  font-size: 30px;
}

.accent-logo {
  color: #2196f3;
}

.navigation-link,
.header-contact-link {
  color: var(--main-color);
  text-decoration: none;
}

.header-contact-link:hover,
.navigation-link:hover {
  color: #2196f3;
}

.navigation-list,
.header-contact-list {
  list-style-type: none;
}

.hero {
  background-color: #2f303a;
  padding: 150px;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 13.6px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-btn {
  height: 50px;
  background-color: #2196f3;
  color: white;
  font-weight: 700;
}

.advantage {
  padding: 30px;
}

.advantage-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  width: 350px;
}

.advantage-title {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantage-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.1px;
  letter-spacing: 0.42px;
}

.work {
  text-align: center;
  padding: 50px;
}

.work-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: 450px;
}

.team {
  padding: 55px;
  text-align: center;
  background-color: #f5f4fa;
}

.team-name {
  font-weight: 500;
}

.team-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 320px;
}

.team-box {
  background-color: var(--info-color);
}

.team-item-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-info {
  color: #757575;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.footer {
  background-color: #2f303a;
  padding: 45px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color: #fff;
}

.footer-accent-logo {
  color: #2196f3;
}

.address-list {
  list-style-type: none;
}

.address-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  /* line-height: 17.1px; */
  letter-spacing: 0.42px;
  text-decoration: none;
}

.address-link[href^="tel:"],
.address-link[href^="mailto:"] {
  color: rgba(255, 255, 255, 0.6);
  /* line-height: 1.71px; /*
     /* 171.429% */
}


