:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-color: #757575;
  --section-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --info-color: #ffffff;
}

/* .logo {
  font-size: 30px;
} */

/* .accent-logo {
  color: #2196f3;
} */

/* header a { */
/* color: black; */
/* text-decoration: none; */
/* } */

/* header a:hover { */
/* color: #2196f3; */
/* } */

/* .contact {
  list-style-type: none;
} */

/* .order-section { */
/* background-color: #2f303a; */
/* padding: 150px; */
/* color: white; */
/* text-align: center; */
/* } */

/* .order-section button[type="button"] { */
/* height: 50px; */
/* background-color: #2196f3; */
/* color: white; */
/* } */

/* .warning-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
} */

/* .warning-ul li {
  width: 350px;
} */

/* .warning-ul li p {
  color: #757575;
} */

/* .what-make-we-section {
  text-align: center;
}

.photo-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.photo-ul li {
  width: 450px;
} */

/* .who-we-are-section { */
/* padding: 55px;
  text-align: center; */
/* background-color: #f5f4fa;
} */

/* .who-we-are-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
} */
/* 
.who-we-are-ul li {
  width: 320px;
}

footer ul {
  list-style-type: none;
} */
