.logo {
  font-size: 30px;
}

.accent-logo {
  color: #2196f3;
}

header a[href*="./index"] {
  color: #2196f3;
}

header a[href*="./portfolio"] {
  color: black;
}

header a[href*="#"] {
  color: black;
}

.contact {
  list-style-type: none;
}

.phone {
  color: black;
}

.email {
  color: #2196f3;
}

.order-section {
  background-color: #2f303a;
  padding: 150px;
  color: white;
  text-align: center;
}

.order-section button[type="button"] {
  height: 50px;
  background-color: #2196f3;
  color: white;
}

.warning-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.warning-ul li {
  width: 350px;
}

.warning-ul li p {
  color: #757575;
}

.what-make-we-section {
  text-align: center;
}

.photo-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.photo-ul li {
  width: 450px;
}

.who-we-are-section {
  padding: 55px;
  text-align: center;
}

.who-we-are-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.who-we-are-ul li {
  width: 320px;
}

footer ul {
  list-style-type: none;
}
