// .team {
//   @extend %section-padding;
//   @extend %section-settings;

//   background-color: var(--section-bg-color);
// }

// .team__title {
//   margin-bottom: 50px;
//   text-align: center;
// }

// .team__list {
//   @include gap($gap: 30px)
// }

// .team__item {
//   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
//     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
//   flex-basis: calc(100% / 4 - 30px);
// }

// .team__box {
//   background-color: $info-color;
// }

// .socials__list {
//   @extend %flex;
//   width: 206px;
//   margin: 0 auto;
// }

// .socials__item {
//   padding-bottom: 30px;
//   @include gap($gap: 10px);
//   justify-content: center;
//   align-items: center;
// }

// .socials__link {
//   padding: 12px;
//   border-radius: 50%;
//   width: 44px;
//   height: 44px;
// }

// .socials__link:hover,
// .socials__link:focus {
//   background-color: $accent-color;
// }

// .socials__link:hover .socials__icon {
//   fill: $info-color;
// }

// .socials__icon {
//   fill: #afb1b8;
//   width: 20px;
//   height: 20px;
// }

// .team-item__title {
//   margin-bottom: 10px;
//   margin-top: 30px;

//   text-align: center;
//   font-size: 16px;
//   font-weight: 500;
//   letter-spacing: 0.48px;
//   color: $main-color;
// }

// .team__info {
//   color: $text-color;
//   letter-spacing: 0.48px;
//   text-align: center;
//   margin-bottom: 28px;
// }

@media screen and (min-width: 480px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
    max-width: 651px;
    margin: 0 auto;

    background-color: $section-bg-color;
  }

  .team__title {
    margin-bottom: 50px;
    text-align: center;
  }

  .team__item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    flex-basis: calc(100% / 4 - 30px);
  }

  .team__item:nth-child(1) {
    margin-bottom: 30px;
  }

  .team__item:nth-child(2) {
    margin-bottom: 30px;
  }

  .team__item:nth-child(3) {
    margin-bottom: 30px;
  }

  .team__box {
    background-color: $info-color;
  }

  .socials__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    margin: 0 auto;
  }

  .socials__item {
    padding-bottom: 30px;
    @include gap($gap: 10px);
    justify-content: center;
    align-items: center;
  }

  .socials__link {
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  .socials__link:hover,
  .socials__link:focus {
    background-color: $accent-color;
  }

  .socials__link:hover .socials__icon {
    fill: $info-color;
  }

  .socials__icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
  }

  .team-item__title {
    margin-bottom: 10px;
    margin-top: 30px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: $main-color;
  }

  .team__info {
    color: $text-color;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 28px;
  }
}
